/*variables*/

 :root {
    --primary: #282828;
    --second: #fbfcfde8;
    --third: #910101;
    --team: rgb(228, 228, 228);
    /*#9d1919;*/
    /*#9e1919;*3*/
    /* nav header */
    --navheader: #910101;
    /* team */
    --col2: #870000;
    /* team fond */
    --col3: #e4e4e4;
    /* team texteroboto italic */
    --col4: #4a4a4a;
    /* tous pour vous */
    --col5: #9e1919;
    /* footer police #fff roboto light*/
    --footer: #404040;
    /* copyright */
    --col7-v1: #282828;
    --col7-v2: #9e1919;
    /* category titre roboto black uppercase */
    --col8: #910101;
    /* categoty lines */
    --catlines: #651824;
    --col10-v2: #631521;
    --col10-v3: #641723;
    /* category menu texte roboto regular on hover => roboto balck white */
    --col11: #2d2d2d;
    /* texte services roboto regular */
    --col12: #373737;
    /*petites barres lateralles*/
    --col13: #eb202c;
    /*a link of concept 4*/
    --col14: #a60000;
}

::selection {
    background-color: #4a4a4a9f;
}


/*reset*/

li {
    list-style-type: none;
}

body,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/*fonts*/

@font-face {
    font-family: 'RobotoRegular';
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'RobotoBlack';
    src: url(fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: 'RobotoThin';
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'RobotoLight';
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'RobotoItalic';
    src: url(fonts/Roboto-Italic.ttf);
}


/*Comment css*/

* {
    font-family: 'RobotoRegular', sans-serif;
}

body {
    background-color: #fff;
}

h1,
h2,
h3,
h4 {
    font-family: 'RobotoBlack', sans-serif;
    color: var(--primary);
    text-transform: uppercase;
}

h4 {
    padding-bottom: 40px;
    margin: 0;
    margin-bottom: 40px;
}

#batiment h3,
#structures h3,
#services h3,
h2 {
    font-size: 1.6em;
    line-height: 1.35em;
}

p,
li {
    color: var(--primary);
}

a {
    font-family: 'RobotoBlack', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.125em;
    color: var(--primary);
}

p {
    line-height: 1.65em;
    text-align: justify;
}


/*wrapper*/

.wrapper {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    /*background-color: blanchedalmond;*/
}


/*header*/


/*
                        header>img {
                            display: inline-block;
                            width: 1200px;
                            margin: 0;
                            padding: 0;
                        }
                        */

header {
    padding: 0;
    margin: 0;
    position: relative;
    background: url(img/headerImage.jpg) 100% no-repeat;
    background-size: cover;
    height: 800px;
    padding-top: 20px;
}

h1.header {
    color: var(--second);
    font-size: 2.1em;
    line-height: 1.13em;
    letter-spacing: 0.001em;
    position: absolute;
    top: 250px;
}


/*
        .mainbanner {
            max-height: 500px;
            overflow: hidden;
        }
        */

header h2 {
    margin: 0;
    text-indent: -10000px;
    line-height: 0;
}

header img.logo {
    float: left;
    /*TODO: vérifier les dimensions du logo*/
    width: 239px;
    height: 100%;
}

nav .burger-nav {
    max-height: 0;
    overflow: hidden;
}

nav {
    float: right;
}

ul.social {
    display: inline-block;
    position: relative;
}

ul.social li {
    /*  color: aqua;*/
    cursor: pointer;
}

ul.social li.tel a {
    color: var(--second);
    font-family: 'RobotoThin', sans-serif;
    font-size: 1rem;
    padding-left: 25px;
}

ul.social li:nth-child(2) {
    position: absolute;
    top: 137px;
    left: -235px;
}

ul.social li:nth-child(3) {
    position: absolute;
    top: 185px;
    left: -228px;
}

header::after {
    display: block;
    content: "";
    clear: both;
}


/*burger icone*/

#burger-container {
    float: right;
    position: relative;
    margin: 0;
    width: 100px;
    /*  background-color: #fff;
                            padding: 20px;
                            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);*/
}

input#menu {
    display: none;
}


/*toggle effect*/

input:checked~.burger-nav {
    max-height: 100%;
}

#burger {
    cursor: pointer;
    display: block;
}

#burger span {
    background: var(--second);
    display: block;
    width: 100px;
    height: 14px;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.4s;
}

#burger-container.open div {
    transform: rotate(-90deg);
}

#burger-container.open span:nth-child(1) {
    transform: scaleX(0.5);
    left: 25px;
}

#burger-container.open span:nth-child(3) {
    transform: scaleX(0.15);
    left: 42px;
}

#burger-container.open span:nth-child(4) {
    width: 0;
    opacity: 0;
}


/*on hover X */

#burger-container.open:hover span:nth-child(2),
#burger-container.open:hover span:nth-child(3) {
    width: 0;
    opacity: 0;
}

#burger-container.open:hover span:nth-child(4) {
    opacity: 1;
    transform: rotate(45deg);
    top: -36px;
    width: 100px;
}

#burger-container.open:hover span:nth-child(1) {
    transform: rotate(-45deg);
    top: 36px;
    left: 0;
}


/*nav menu*/

.burger-nav {
    width: 100%;
}

li#ln {
    margin-bottom: 25px;
}

div.wrapperentete {
    width: 450px;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

img.blogo {
    height: 50%;
}

img.burger {
    width: 20px;
    height: auto;
    float: right;
    cursor: pointer;
}

ul.navmenu {
    background-color: var( --second);
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 230px
}

ul.navmenu li,
ul.catmenu li {
    display: grid;
    padding: 0 30px;
    margin: 0;
}

nav ul.navmenu li a {
    /*  background-color: rgba(102, 51, 153, 0.356);*/
    float: left;
    align-content: center;
    vertical-align: middle;
    border-bottom: 1px solid var(--primary);
    border-top: 0.01px solid var(--primary);
}

nav ul.navmenu li a.noborder {
    border-top: none;
}

nav ul.navmenu li a.border {
    border-bottom: 1px solid var( --primary);
}

ul.navmenu p {
    /* background-color: rgba(102, 51, 153, 0.356);*/
    font-size: 1.5rem;
    text-transform: none;
    float: right;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 2px;
}


/*   
        nav ul.navmenu li a:link {
            color: var(--primary);
        }
        */


/*
        nav ul.navmenu li a:visited {
              color: #9d1919;
        }
       */

nav ul.navmenu li a:focus {
    color: #fff;
    background-color: #9d1919;
}

nav ul.navmenu li a:hover {
    color: #fff;
    background-color: #9d1919;
    transition: background-color 0.5s ease-in;
    margin-left: 4%;
    padding-left: 4%;
    border: none;
    border-bottom: 1px solid var( --primary);
}

nav ul.navmenu li p:hover {
    color: #fff;
}

nav ul.navmenu li a:active {
    color: #fff;
    background-color: #9d1919;
    padding-left: 4%;
}

.catmenu {
    width: 450px;
}

.catmenu h3 {
    color: var(--third);
}

.catmenu li {
    line-height: 4rem;
}

ul.catmenu {
    padding-bottom: 100px;
}

nav ul.catmenu li a {
    text-transform: none;
    /*  background-color: rgba(102, 51, 153, 0.356);*/
    color: var(--primary)!important;
    float: left;
    vertical-align: middle;
    border-bottom: 2px solid var(--catlines);
    border-top: 0.01px solid var(--catlines);
}

nav ul.catmenu li a:hover {
    border-bottom: 2px solid var( --catlines);
    color: #fff!important;
}


/*nav menu*/

.navmenu a {
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.navmenu p {
    font-family: 'RobotoThin', sans-serif;
    text-transform: none;
    font-size: 0.9em;
    letter-spacing: 0.01em;
}

h1 {
    align-content: center;
    justify-content: center;
}


/*nav*/


/*concept 1*/


/*concept 1*/

.concept1 p,
.concept2 p {
    margin-bottom: 30px;
}

.concept1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*background-color: blueviolet;*/
}

.concept1 img {
    grid-column: 1/4;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 70px;
}

.concept1>img.imgpaysage {
    grid-column: 1/5;
    width: 100%;
    top: 15px;
    align-self: center;
    margin-top: 30px;
}

.concept1 div {
    grid-column: 4/13;
    text-align: justify;
    padding: 0 40px;
}

.concept1>div.imgpaysage {
    grid-column: 5/13;
    text-align: justify;
    padding: 0 40px;
}


/*concept 2*/

#concept2 .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#concept2 {
    margin-top: -125px;
    background-color: #e8e8e8;
    display: block;
    content: "";
    clear: both;
}

#concept2 div {
    grid-column: 1/8;
}

#concept2 h2 {
    padding-top: 60px;
}

#concept2 img {
    height: 100%;
    grid-column: 9/12;
}

#concept2 div.wrapper div p {
    padding-bottom: 30px
}

#concept2 div.wrapper div a {
    padding-bottom: 30px;
    display: block;
}


/*concept 3*/

.concept3 {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*  background-colrgb(106, 82, 129)olet;*/
    /*grid-gap: 20px;*/
}

section.concept3 div {
    grid-column: 1/3;
    margin: 30px;
}

.concept3 h2 {
    margin: 0;
    margin-bottom: 20px;
}

.concept3 h2,
.concept4 h2,
.concept5 h3,
#batiment h2,
#structures h2,
#services h2 {
    font-size: 1.9em;
    line-height: 1.13em;
}

.concept3 p,
.concept4 p {
    margin-left: 30px;
    line-height: 1.4em;
    text-align: justify;
}

section.concept3 img {
    align-self: center;
    justify-self: flex-end;
    width: 100%;
    grid-column: 3/4;
    /*padding: 40px;*/
}


/*concept4*/

.concept4 {
    /*   background-color: yellowgreen;*/
    box-shadow: 0px 0px 33px -10px rgba(0, 0, 0, 0.86);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.concept4>img.imgportrait {
    margin: 0 50px 0 10px;
    justify-self: start;
    height: 100%;
    width: fit-content;
}

.concept4 img {
    grid-column: 1/2;
    width: 100%;
    justify-self: center;
    align-self: center;
    margin: 10px;
    padding-left: 20px;
}

.concept4 div {
    grid-column: 2/3;
    margin: 0;
    padding: 20px 50px;
}

.concept4 a {
    color: #a60000;
    text-transform: uppercase;
    float: right;
    margin: 40px 0;
}


/*concept 5*/

.concept5 {
    /* display: flex;*/
    /* background-color: cadetblue;*/
    background: url(img/concept5image1.png) 100% no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    margin: 35px 0;
}

.wrapper2 {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    /*background-color: blanchedalmond;*/
}

.concept5 * {
    color: #fff;
    text-transform: uppercase;
}

.top {
    margin: 0;
}

.top h3 {
    padding-top: 60px;
    padding-left: 20px;
    float: left;
}

.top a {
    font-family: 'RobotoThin', sans-serif;
    line-height: 1.5em;
}

.top img {
    width: 50%;
    float: right;
}

.top:after {
    display: block;
    content: "";
    clear: both;
}

.catgr {
    background-color: #404040;
    padding: 0;
    margin: 0;
}

.catgrlol {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.catgrlol li {
    padding-bottom: 15px;
}

.catgrlol li a {
    font-family: 'RobotoThin', sans-serif;
    font-style: none;
}

.catgrlol img:nth-child(0) {
    grid-column: 2/4;
    width: 100%;
}

.catgrlol img:nth-child(1) {
    grid-column: 4/6;
    width: 100%;
}

div.catgrlol img {
    height: 334px;
    justify-self: right;
}

.concept5 ul {
    /* display: inline-block;*/
    /*background-color: #404040;*/
    margin: 25px;
    padding: 25px;
}

.concept5 p {
    margin-top: 60px;
    padding: 16px 23px;
    border-radius: 10px;
    display: inline-flex;
    border: 1px solid #fff;
    line-height: 1.1em;
    margin-bottom: 70px;
}


/*logoslider*/

.logoslider {
    /*background-color: darkorange;*/
    padding: 30px;
    margin-top: 30px;
    /*asupp*/
    position: relative;
    overflow: hidden;
    text-align: center;
}

.logoslider-header {
    /*  background-color: aquamarine;*/
    margin-bottom: 30px;
}

.logoslider-header h2 {
    margin: 0;
    padding: 0;
    float: left;
}

.logoslider-header a {
    float: right;
    color: #a60000;
    align-content: baseline;
    justify-content: baseline;
    /*le placer en bas*/
}

.logoslider a::after {
    content: " >";
}

.logoslider-header:after {
    display: block;
    content: "";
    clear: both;
}

div.logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
}

div.logos img:nth-child(1) {
    grid-column: 1/2;
}

div.logos img:nth-child(2) {
    grid-column: 2/3;
}

div.logos img:nth-child(3) {
    grid-column: 3/4;
}

div.logos img {
    padding: 15px;
    width: 80%;
    display: block;
    align-self: center;
    justify-self: center;
    /*border: 2px solid var(--primary);*/
}


/*animation du slider*/


/*
.logoslider div.logos {
    -webkit-animation: scroll2 12s infinite;
}

@-webkit-keyframes scroll2 {
    0% {
        padding-left: 0;
    }
    27.33% {
        padding-left: 0
    }
    33.33% {
        padding-left: -300px;
    }
    60.66% {
        padding-left: -500px;
    }
    66.66% {
        margin-left: -1000px;
    }
    94.99% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 0
    }
}
*/


/*contact us */

.contactuswrapper {
    background: linear-gradient(rgba(124, 124, 124, 0.5), rgba(124, 124, 124, 0.5)), url(/img/contact.jpg);
    background-size: cover;
    background-repeat: 100% no-repeat;
    margin-top: 30px;
}

.contactus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    grid-gap: 20px;
}


/* position: relative;
            background: url(img/headerImage.jpg) 100% no-repeat;
            background-size: cover;*/


/* TODO: à revoir*/

.location img {
    width: 100%
}

.location {
    grid-column: 1/2;
    padding: 0;
}

.form {
    grid-column: 2/3;
    padding: 0 25px;
}

.contactus h4 {
    color: #fff;
    font-family: 'RobotoBlack', sans-serif;
    /*TODO: à revoir*/
    font-size: 2.3em;
    line-height: 1.13em;
    letter-spacing: 0.001em;
    text-transform: none;
}

.contactus ul {
    margin: 20px 0;
}

.contactus li,
.contactus p {
    color: #fff;
}

.contactus li {
    font-family: 'RobotoBlack', sans-serif;
}


/*form*/

form {
    align-self: center;
    justify-self: center;
}

input::placeholder {
    color: #404040;
    padding: 15px;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 1.2em;
    /* */
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 210px;
    max-width: 220px;
    margin: 5px;
    padding: 10px;
    border: 0;
}

input[name="msg"] {
    width: 465px;
    max-width: 465px;
    padding: 10px 0 200px 10px;
    display: block;
}

input[type="button"] {
    background-color: var(--third);
    text-decoration: none;
    color: #fff;
    padding: 15px;
    border: 0;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 0.8em;
    cursor: pointer;
}

.form p {
    padding-top: 20px;
    float: right;
    padding-right: 25px;
    color: #fff;
    /*TODO; à revoir*/
    font-size: 0.7em;
}


/*category*/

.wrapper3 {
    width: 96%;
    max-width: 1200px;
    margin: 0;
    padding: 0 2%;
}

.category {
    width: 1200px;
}

.category h2 {
    color: var(--third);
    transform: rotate(270deg);
    position: relative;
}

#batiment,
#structures,
#services {
    position: relative;
    /*border: 2px solid grey;*/
    display: flex;
    /*remettre width: 1200px;*/
    width: 1200px;
    background-color: var( --second);
    margin: 0;
    padding: 0;
}

#batiment {
    top: 0;
    /**/
    height: 733px;
    opacity: 1;
}

#structures {
    top: 0;
    position: absolute;
    left: 428px;
    /**/
    height: 733px;
    opacity: 1;
}

#services {
    top: 0;
    position: absolute;
    left: 828px;
    /**/
    height: 733px;
    opacity: 1;
}

#batiment h2:before,
#services h2:before,
#structures h2:before {
    content: '';
    position: absolute;
    display: block;
    top: -15px;
    bottom: -15px;
    left: -20px;
    right: -20px;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

#batiment h2 {
    padding-top: 15px;
    top: 85px;
    right: 130px;
    position: relative;
    margin: 0;
    display: inline-block;
    height: fit-content;
}

#structures h2 {
    padding-top: 15px;
    top: 572px;
    right: 156px;
    position: relative;
    margin: 0;
    display: inline-block;
    height: fit-content;
}

#services h2 {
    padding-top: 15px;
    top: 80px;
    right: 445px;
    position: relative;
    margin: 0;
    display: inline-block;
    height: fit-content;
}

#batiment img,
#structures img,
#services img {
    float: left;
    height: 100%;
}

#batiment nav,
#structures nav,
#services nav {
    float: right;
    /*    opacity: 0;
    width: 0%;
    overflow: hidden;*/
}

#batiment .catmenu-nav,
#structures .catmenu-nav,
#services .catmenu-nav {
    /*height: 0;
     opacity: 0;*/
}


/*toggle category section*/

label #batiment,
label #structures,
label #services {
    cursor: pointer;
}

input#batiment-btn,
input#structures-btn,
input#services-btn {
    display: none;
}


/*animation effect*/

input#batiment-btn:checked~label #batiment,
input#structures-btn:checked~#structures,
input#services-btn:checked>#services label {
    left: 28px!important;
    background-color: brown!important;
    opacity: 1;
    overflow: visible;
}

input#batiment-btn:checked~#batiment nav,
input#structures-btn:checked~#structures nav,
input#services-btn:checked>#services nav {
    left: 28px!important;
    background-color: brown;
    height: auto;
    opacity: 1;
}

input#batiment-btn:checked>nav>.catmenu-nav,
input#structures-btn:checked>nav>.catmenu-nav,
input#services-btn:checked>nav>.catmenu-nav {
    background-color: brown;
    height: auto;
    opacity: 1;
    left: 28!important;
}


/*details category*/

.detailcat {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.detailcat img {
    grid-column: 1/13;
    width: 100%;
}

.detailcat .menutop {
    background-color: var(--third);
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.detailcat .menutop h4 {
    color: #fff;
    padding: 0;
    margin: 15px;
    display: inline;
}

.detailcat .menutop span {
    color: #fff;
}

.menutop span:nth-of-type(1) {
    grid-column: 2/3;
    justify-self: right;
    margin-top: 12px;
}

.menutop span:nth-of-type(2) {
    grid-column: 11/12;
    margin-top: 18px;
}

.menutop h4:nth-of-type(1) {
    font-family: 'RobotoThin', sans-serif;
    grid-column: 3/6;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    justify-self: left;
}

.menutop h4:nth-of-type(2) {
    font-family: 'RobotoBlack', sans-serif;
    grid-column: 9/11;
    text-transform: none;
    font-size: 1.2em;
    justify-self: right;
}


/*
.detailcat .menutop h4:nth-child(2):after {
    content: "\003E";
    padding-left: 15px;
}
*/

.detailcat .detailServices {
    grid-column: 2/12;
    margin: 25px auto;
}

.detailcat .detailServices p {}

.detailcat .detailServices ul {
    padding: 25px;
}

.detailcat .detailServices li:before {
    padding-right: 15px;
    content: "*";
}

.detailcat .detailServices li {
    padding: 5px;
    font-style: italic;
}


/*Gallery*/

.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.gallery .menutop {
    grid-column: 1/13;
}

.gallery span:nth-of-type(1) {
    grid-column: 1/2;
    justify-self: right;
    margin-top: 12px;
}

.imgprincipale {
    grid-column: 3/10;
    height: 465px;
    padding: 0;
    margin: 0;
    display: block;
    z-index: -1;
}

.imgprincipale {
    -webkit-animation: scroll 12s infinite;
}


/*Animation slider image*/

@-webkit-keyframes scroll {
    0% {
        margin-top: 0;
    }
    27.33% {
        margin-top: 0
    }
    33.33% {
        margin-top: -470px;
    }
    60.66% {
        margin-top: -470px;
    }
    66.66% {
        margin-top: -940px;
    }
    94.99% {
        margin-top: -940px;
    }
    100% {
        margin-top: 0
    }
}

.gallery-img img {
    grid-column: 10/11;
    width: 135%;
    opacity: 0.3;
    cursor: pointer;
}

.gallery-img img:hover {
    opacity: 1;
}

.gallery-img img:hover {
    padding-right: 40px;
    background: url(img/picker.gif) repeat-y right;
}

.gallery-img img {}

.barregallery {
    padding-right: 40px;
    background: url(img/picker.gif) repeat-y right;
    opacity: 1!important;
}


/**/

.menubottom {
    background-color: var(--footer);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 50px;
}

.menubottom span {
    margin-top: 50px;
}

.menubottom span:nth-of-type(1) {
    grid-column: 2/3;
}

.menubottom .menubottom-left {
    grid-column: 3/7;
}

.menubottom .menubottom-right {
    grid-column: 8/12;
}

.menubottom span:nth-of-type(2) {
    grid-column: 12/13;
}

.menubottom h5,
.menubottom p,
.menubottom span {
    color: #fff;
    display: inline-block;
}

.menubottom-left,
.menubottom-right {
    margin-top: 15px;
}

.menubottom h5 {
    font-family: 'RobotoThin', sans-serif;
    margin: 0;
    padding: 0;
}

.nomprojet {
    font-size: 1em;
}

.lieu {
    font-family: 'RobotoBlack', sans-serif;
    font-size: 1.2em;
}

.archi,
.entr {
    font-family: 'RobotoItalic', sans-serif;
    font-size: 0.8em;
}


/*footer*/

footer {
    /* footer police #fff roboto light*/
    background-color: var(--footer);
    padding-top: 30px;
    /* border-top: 3px solid var(--primary);*/
}

footer>div.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

footer ul:nth-child(1) {
    grid-column: 1/3;
}

footer ul:nth-child(2) {
    grid-column: 4/7;
}

footer ul:nth-child(3) {
    grid-column: 8/10;
}

footer ul:nth-child(4) {
    grid-column: 11/13;
}

footer li,
footer li a {
    font-family: 'RobotoThin', sans-serif;
    color: #fff;
    padding-bottom: 15px;
    text-transform: none;
    font-weight: 400;
    letter-spacing: normal;
}

footer li {
    padding-left: 40px;
}

footer li a:hover {
    font-weight: 900;
    transition: font-weight 0.2s ease-in-out;
}


/*test before*/


/*copyright*/

#copyright {
    margin-top: 15px;
    background-color: var(--third);
    padding: 8px 0 20px 0;
    /* border-top: 3px solid var(--primary);*/
}

#copyright div {
    font-family: 'RobotoThin', sans-serif;
    /*roboto regular*/
    color: #fff;
    text-align: center;
    /*taille?*/
}


/*barre decorative*/

.barre {
    padding-left: 40px;
    background: url(img/barre.gif) no-repeat left 2px;
}

.barredown {
    background: url(img/barredown.gif) no-repeat left bottom;
}

.barrecat {
    padding-left: 40px;
    background: url(img/barre.gif) repeat-y;
}


/*team page*/

.wrapper2 {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.topteam {
    margin: 0;
    padding: 0;
}

.teamgrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px, 1fr;
    /* background-color: aqua;*/
}

.slogan1 {
    margin: 0;
    padding: 0;
}

.teamgrid h1 {
    /*  display: inline;*/
    padding: 20px;
    margin: 0;
    background-color: var(--third);
    grid-column: 1/6;
    color: #fff;
    font-family: 'RobotoBlack', sans-serif;
    font-size: 1.6em;
    line-height: 1.35em;
    align-self: center;
    justify-self: center;
    padding-top: 130px;
    height: 100%;
}

.teamgrid p {
    margin: 44px;
    padding: 15px;
    grid-column: 6/13;
}

.topteam img {
    /* padding-top: -44px;*/
    grid-column: 1/13;
    grid-row: 2/3;
    width: 100%;
}


/*trombi*/

.trombinoscope img {
    height: 100%;
    justify-self: center;
}

.trombinoscope img:hover {
    display: block;
    cursor: pointer;
}

.detail1,
.detail2,
.detail3 {
    background-color: var(--third);
    align-content: center;
    justify-content: center;
}

.trombi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    padding: 0;
}

img.one {
    grid-column: 1/2;
    grid-row: 1/2;
}

.detail1 {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 15px;
}

img.two {
    grid-column: 3/4;
    grid-row: 1/2;
}

img.two:hover {
    display: block;
    cursor: pointer;
}

.detail2 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-right: 15px;
}

img.three {
    grid-column: 2/3;
    grid-row: 2/3;
}

.detail3 {
    grid-column: 3/4;
    grid-row: 2/3;
    padding-top: 15px;
}

.quote {
    background-color: var(--team);
    padding: 15px;
    /* margin: 0;
                            opacity: 0;*/
}


/*
        .detail1 .quote {
            padding-bottom: 90px;
        }
        
        .detail3 .quote {
            padding-bottom: 90px;
        }
        
        .detail2 .quote {
            padding-bottom: 90px;
        }
        */

.quote h3 {
    margin: 0;
    text-transform: none;
}

blockquote {
    font-family: 'RobotoItalic', sans-serif;
    text-align: justify;
    /*margin: 15px;*/
    padding: 5px;
}

.detail3 blockquote {
    padding-bottom: 14px;
}


/*bloquote animation*/

img.one:hover {}

img.two:hover {}

img.three:hover {}

img.one:hover~.detail1 .quote,
img.one:hover~.detail1 .quote h3,
img.one:hover~.detail1 .quote p {
    opacity: 100%;
    background-color: var(--third);
    color: var(--team);
}

img.two:hover~.detail3 .quote,
img.two:hover~.detail3 .quote h3,
img.two:hover~.detail3 .quote p {
    opacity: 100%;
    background-color: var(--third);
    color: var(--team);
}

img.three:hover~.detail2 .quote,
img.three:hover~.detail2 .quote h3,
img.three:hover~.detail2 .quote p {
    opacity: 100%;
    background-color: var(--third);
    color: var(--team);
}


/*slogan*/

.slogan {
    grid-column: 1/3;
    /*background-color: aqua;*/
    padding: 45px;
    margin: 0;
    grid-row: 2/3;
}

.slogan h3 {
    font-family: 'RobotoThin', sans-serif;
    font-size: 2.9em;
    letter-spacing: 0.001em;
    text-transform: none;
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.slogan h4 {
    font-size: 4.4em;
    letter-spacing: 0.001em;
    text-transform: none;
    color: var(--third);
    margin: 0;
    padding: 0;
}


/*TODO:à revoir*/


/*mobile style*/


/*small tablet style*/

@media screen and (min-width:620px) {
    body {
        font-size: 16px;
    }
}


/*large tablet & maptop style*/

@media screen and (min-width:960px) {
    body {
        font-size: 18px;
    }
}


/*desktop style*/

@media screen and (min-width:1200px) {
    body {
        font-size: 20px;
    }
}


/*Animations et transitions*/